// Typography
$ms-base: 1.1em;
$ms-ratio: 1.25;

$line-height: 1.5;

// Glyphicons font path
$icon-font-path:        "../fonts/";
$icomoon-font-path:		"../fonts/";

// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Article Layout
$article-sm-columns: 	6;

// Colors
$brand-primary:         #DAA520;

// Logos
$icon-napa-sm-logo: "\e900";
$icon-napa-logo: "\e901";
