.page-header{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
	background-position: center center;
  	margin: 0;
	position: relative;

 	/* XXS */ @media only screen and (min-width : 320px)  {} // background isn't fixed here.
  	/* XS  */ @media only screen and (min-width : 480px)  {} // background still isn't fixed here.
  	/* SM  */ @media only screen and (min-width : 768px)  {} // background still isn't fixed here.
  	/* MD  */ @media only screen and (min-width : 992px)  {background-attachment: fixed;} // Ok NOW the background is fixed.
  	/* LG  */ @media only screen and (min-width : 1200px) {} // background is STILL fixed here.

  	.header-overlay{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #333;
		opacity: .65;
		z-index: 300;
  	}

	h1{
		text-align: center;
		color: #fff;
		padding: 6em 1em 1em;
		margin: 0;
		position: relative;
		z-index: 400;

		&:after{
			content: '';
			border-bottom: 5px solid #ddd;
		}
	}
}

.article-wrapper{
	max-width: 740px;
	padding-left: 20px;
	padding-right: 20px;
	margin: ms(4) auto;
	display: block;
}